[Desktop Entry]
Encoding=UTF-8
Name=CyberMagic
Comment=Animate the minimizing of windows
Icon=preferences-system-windows-effect-minimize1

Type=Service
X-KDE-ServiceTypes=KWin/Effect
X-KDE-PluginInfo-Author=Reven Martin
X-KDE-PluginInfo-Email=revenmartin@gmail.com
X-KDE-PluginInfo-Name=cybermagic
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Appearance
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KWin-Exclusive-Category=minimize